@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.ads{
	width:200px;
	border:1px solid;
	border-radius:7px;
	padding:10px 10px;
	margin:10px 10px;
}

.ads img{
	width:100%;
	border-radius:7px;
}

.ads a{
	text-decoration:none;
	font-family:Roboto Condensed;
}

.ads p{
	font-size:8px;
	margin:0px 0px;
	text-align:right;
}